<div class="container flex">
  <h1>My Bookings</h1>
<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="bookings-tab" data-bs-toggle="tab" data-bs-target="#bookings" type="button" role="tab" aria-controls="bookings" aria-selected="true">Bookings</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="requests-tab" data-bs-toggle="tab" data-bs-target="#requests" type="button" role="tab" aria-controls="requests" aria-selected="false">Requests</button>
  </li>
</ul>



<!-- Tab panes -->

<div class="container justify-content-center mt-4 tab-content">
  <div class="tab-pane active" id="bookings" role="tabpanel" aria-labelledby="bookings-tab">

    <% @bookings.each do |booking| %>
      <div class="card-product mb-2 w-50">
        <% if booking.rental.photos.attached? %>
          <%= cl_image_tag booking.rental.photos.first.key, width: 300, height: 200, crop: :fill %>
        <% else %>
          <%= image_tag "https://res.cloudinary.com/dncij7vr6/image/upload/v1677666474/Rectangle_7_ivn4vk.jpg", class: "card-img-top" %>
        <% end %>
        <div class="card-product-infos flex-grow-1 text-decoration-none">
          <h2 class="text-decoration-none"><%= booking.rental.title %></h2>
          <p class="text-decoration-none">
            From: <%= booking.start_date %>
            <br>
            To: <%= booking.end_date %>
          </p>
          <p class="text-decoration-none">
            Total Price: <strong>$</strong><%= booking.total_price %>
          </p>
          <% if booking.status == "Accepted" %>
          <span class="badge text-bg-success">Success</span>
          <% elsif booking.status == "Pending" %>
          <span class="badge text-bg-warning">Pending</span>
          <% else %>
          <span class="badge text-bg-danger">Declined</span>
          <% end %>
        </div>
        <div class="d-flex flex-column p-4">
          <%= link_to "Change", "#" %>
          <%= link_to "Cancel", "#" %>
        </div>
      </div>
    <% end %>
  </div>






  <div class="tab-pane" id="requests" role="tabpanel" aria-labelledby="requests-tab">
    <div class="container justify-content-center mt-4">
      <% @owner_bookings.each do |booking| %>
        <div class="card-product mb-2 w-50">
          <% if booking.rental.photos.attached? %>
            <%= cl_image_tag booking.rental.photos.first.key, width: 300, height: 200, crop: :fill %>
            <% else %>
            <%= image_tag "https://res.cloudinary.com/dncij7vr6/image/upload/v1677666474/Rectangle_7_ivn4vk.jpg", class: "card-img-top" %>
          <% end %>
          <div class="card-product-infos flex-grow-1">
            <h2><%= booking.rental.title %></h2>
            <p>
              From: <%= booking.start_date %>
              <br>
              To: <%= booking.end_date %>
            </p>
            <p>
              Total Price: <strong>$</strong><%= booking.total_price %>
            </p>
            <% if booking.status == "Accepted" %>
            <span class="badge text-bg-success">Success</span>
            <% elsif booking.status == "Pending" %>
            <span class="badge text-bg-warning">Pending</span>
            <% else %>
            <span class="badge text-bg-danger">Declined</span>
            <% end %>
          </div>
          <div class="d-flex flex-column p-4">
            <%= link_to "Accept", "#" %>
            <%= link_to "Decline", "#" %>
          </div>
        </div>
      <% end %>
  </div>
</div>
