

<div class="container border-light">
  <div class="flash flash-success alert alert-dismissible fade show" role="alert">
  <span><strong>Yay!</strong> 🎉 you successfully booked!</span>
  <a data-bs-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </a>
</div>
  <div class="row">
    <div class="col-12">
      <h1>Booking #<%= @booking.id %></h1>
      <h3><%= @booking.rental.title %></h3>
      <%= cl_image_tag @booking.rental.photos.first.key, height: 300, width: 400, crop: :fill %>
      <p>Start Date: <%= @booking.start_date %></p>
      <p>End Date: <%= @booking.end_date %></p>
      <p>Total Price: <strong>$</strong><%= @booking.total_price %></p>
      <p>Status: <%= @booking.status %></p>
      <p>Client: <%= @booking.user.email %></p>
      <p>Rental: <%= @booking.rental.title %></p>
    </div>
  </div>
</div>
