<div class="container">
  <div class="cards-container">
    <% @rentals.each do |rental| %>
      <div class="main-card">
        <%= cl_image_tag rental.photos.first.key, width: 300, height: 200, crop: :fill %>
        <div class="content-container">
          <h3>
            <%= rental.title %>
          </h3>
          <p>
            <%= rental.description %>
          </p>
          <div class="detail-box">
            <div>
              $<%= rental.price_per_day %>
            </div>
            <div>
              <%= rental.address %>
            </div>
            <div>
              <i class="fa-solid fa-star"></i>
              <%= rental.rating %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
