
<div class="container">
  <div class="flash flash-success alert alert-dismissible fade show" role="alert">
    <span><strong>Yay!</strong> 🎉 you successfully listed your item!</span>
    <a data-bs-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>

  <div class="row">
      <div class="col-md-6">
        <% if @rental.photos.attached? %>
          <%= cl_image_tag @rental.photos.first.key, crop: :thumb, width: 600, height: 400, class: "w-100 h-100" %>
        <% else %>
          <%= image_tag "https://res.cloudinary.com/dncij7vr6/image/upload/v1677666474/Rectangle_7_ivn4vk.jpg", class: "card-img-top" %>
        <% end %>
      </div>
      <div class="col-md-6">
        <div class="row">
          <% if @rental.photos.attached? %>
            <% @rental.photos[1..4].each do |photo| %>
              <div class="col-sm-6">
                <div class="my-2 secondary-images" style="position: relative; overflow: hidden;">
                  <%= cl_image_tag photo.key, crop: :thumb, style: "object-fit: cover; object-position: center;" %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>


  <div class="row">
    <div class="col-8">
      <div class="rental-title border-bottom my-4">
        <h1><%= @rental.title %></h1>
      </div>
      <div class="rental-content border-bottom my-4">
        <p> <%= @rental.description %></p>
      </div>
    </div>
    <div class="col-4">
      <div class="border p-4">
        <div class="row justify-content-between">
          <div class="col-6">
            <h4> $ <%= @rental.price_per_day %> day</h4>
          </div>
          <div class="col-6 text-end">
            <h4> <%= @rental.rating %> <i class="fa-solid fa-star"></i> </h4>
          </div>
        </div>
        <div class="booking-form">
          <%= render 'bookings/form', rental: @rental %>
        </div>
      </div>
    </div>
  </div>

</div>
